<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cotizador Soc</title>
        
<link rel="icon" href="favicon.ico"/>  
<link href="main.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" crossorigin="anonymous">        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
     </head>
    
        <body class="body-home" id="body-pd">
            <header class="header shadow-sm" id="header">
                <a href="#" class=" header-logo">  <img src="assets/images/pages/soc.png" alt="logo-soc" width="100"> </a>

                <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt="user"> </div>
            </header>

            <div class="row contenedor">
                <div class="col-2 con-ul-tabs" id="">
                    <ul class="ul-tabs-left">
                        <li class="tabs-li activeChild">
                            <button class="tabs-btn activo">
                                <span class="icon">
                                    <img src="assets/icons/settings.svg" alt="settings">
                                </span>
                                <span class="li-text">General</span>
                            </button>
                        </li>
                        <li class="tabs-li activeChild">
                            <button class="tabs-btn">
                                <span class="icon">
                                    <img src="assets/icons/task-square.svg" alt="settings">
                                </span>
                                <span class="li-text">Reportes de crédito</span>
                            </button>
                        </li>
                        <li class="tabs-li activeChild">
                            <button class="tabs-btn">
                                <span class="icon">
                                    <img src="assets/icons/clipboard-text.svg" alt="settings">
                                </span>
                                <span class="li-text">Reportes</span>
                            </button>
                        </li>
                        <li class="tabs-li activeChild">
                            <button class="tabs-btn">
                                <span class="icon">
                                    <img src="assets/icons/attach-square.svg" alt="settings">
                                </span>
                                <span class="li-text">Widget</span>
                            </button>
                        </li>
                        <li class="tabs-li activeChild">
                            <button class="tabs-btn">
                                <span class="icon">
                                    <img src="assets/icons/house.svg" alt="settings">
                                </span>
                                <span class="li-text">Inicio</span>
                            
                            </button>
                        </li>

                    </ul>

                </div>
                <div class="col-8 formulario">
                    <span class="card__header"><h4>Generales</h4></span>
                    <div class="card-body">
                        
                        <div > <img src="https://i.imgur.com/hczKIze.jpg" alt="user" class="con-vs-avatar"> </div>
                        <div>
                          <button class="subir" @click="seleccionarImg()" v-if="soc">Subir imagen</button>
                          <p class="text-sm mt-2" v-if="soc">Permitido JPG, GIF or PNG. Tamaño máximo 800kB</p>
                        </div>

                    
                       
                   
                        <div class="row w-full">
                            <h6>Datos personales</h6>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Nombre 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Correo 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Contraseña
                                    <input type="password" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Teléfono 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row w-full">
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Web 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> RFC del ejecutivo 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row w-full">
                            <h6>Datos de oficina</h6>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Nombre 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> RFC
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                            <div class="vs-col vs-lg-4 vs-sm-12">
                                <div class="vs-con-input">
                                    <label class="span-placeholder"> Teléfono 
                                    <input type="text" class="vs-input">
                                    </label>
                                </div>
                            </div>
                        
                        </div>
                        <div class="row w-full">
                            <div class="vs-lg-4 ">
                            <button class="btn btn-primary" type="submit">Actualizar perfil</button>
                            </div>
                        </div>
                    </div>
               
                


                </div>
            </div>
            
            

    </body>

</html>
