.primary{
    color: #00368C;
}
.secondary{
    color: #3b933e;
}
.blue{
    color: #2AB5DF;
}
.text-primary{
    color: #033A74;
}

/*/////////////////////*/
body{margin: 0;
    background: #F1F4FF !important;}
*{margin: 0;}

.btn-primary{
    background: #4AA84F !important;
    border-color: #4AA84F !important;
    width: 100%;
    font-size: 14px !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3b933e !important;
    border-color: #3b933e !important;}

#loading-bg{
    width: 100%;
    height: 100%;
    background: #FFF;
    display: block;
    position: absolute;
  }
  .loading-logo{
    position: absolute;
    left: calc(50% - 25px);
    top: 40%;
  }
  .loading {
    position: absolute;
    left: calc(50% - 35px);
    top: 40%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid transparent;
  }
  .loading .effect-1,  .loading .effect-2{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #00368C;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .loading .effect-1{
    animation: rotate 1s ease infinite;
  }
  .loading .effect-2{
    animation: rotateOpacity 1s ease infinite .1s;
  }
  .loading .effect-3{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-left: 3px solid #00368C;
    -webkit-animation: rotateOpacity 1s ease infinite .2s;
    animation: rotateOpacity 1s ease infinite .2s;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .loading .effects{
    transition: all .3s ease;
  }
  
  @keyframes rotate{
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
  @keyframes rotateOpacity{
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: .1;
    }
    100% {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
      opacity: 1;
    }
  }
  

.form{
    background-color: #FFFFFF !important;
    color: #40516F;
    width: 40%;
    max-width: 300px;
    max-height: 448px;
    min-height: 446px;
    border-radius: 10px;
    padding: 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    }

.form-check{
    padding: 2px !important;
    margin: 2px !important;
    float: left;
    font-size: 14px;
}

    .form-floating>.form-control, .form-floating>.form-select {
        height: calc(2.5rem + 2px) !important;
        line-height: 1.25;}

        
    .img-form{width:187px !important;}

@media screen and (max-width:725px) {
    .form{
        width:100%;
        margin-top:80px;
    }
    
}
 /*bg-body*/

  
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .contenido {
    position: fixed;
    width: 100%;
    height:100%;
    padding: 20px;
  }
  

*,
::before,
::after {
    box-sizing: border-box;
}

.body-home {
    background-color: #F1F4FF;
    position: relative;
    /*margin: var(--header-height) 0 0 0;
    padding: 0 1rem;*/
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none !important;
}

.hide{
    display: none;
  }
  
  .main-head {
      position: fixed;
      bottom: 0;
      width: 70px;
      height: 100%;
      z-index: 999;
      background: #033A74;
      transition: width 400ms;
      padding-left: 20px;
      list-style: none;
  }
  .main-head:hover {
      width: 280px;
  }
  .header_toggle {
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 50px;
  }
  
  .head-nav ul {
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 30px;
      padding: 0;
      list-style: none;
  }
  /*
  .nav_link {
      display: list-item;
      align-items: center;
      column-gap: 1rem;
      padding: .5rem 0 .5rem .5rem;
      position: relative;
      transition: .3s;
      color: #fff !important;
  }*/
  
  
  .sublink:focus{
      color: #fff;
      width: 90%;
      padding: 8px;
      background-color: #4AA84F !important;
      border-radius: 5px !important;
      margin: 20px 0;
      margin-left: auto;
      margin-right: auto;
      list-style: none !important;
      opacity: 100% !important;
  }
  
  .nav_link:focus{
      color: #fff;
      width: 90%;
      padding: 8px;
      background-color: #4AA84F !important;
      border-radius: 5px !important;
      margin-right: auto;
      list-style: none !important;
      font-weight: 500;
      transition: .3s;
  
  }
  
  
  .collapse{
      background-color: transparent !important;
      margin-left: 30px;
      margin-bottom: 30px}
  
  .sublink{opacity: 60%;
      font-size: 16px;
      margin-left: 20px;
      margin-bottom: 10px;
      width: 100%;}
  
  .sublink:hover{
      opacity: 100%;
      transition: .3s;
      color: #fff !important;
  }
  
  .head-nav a {
      align-items: center;
      display: flex;
      width: 80%;
      color: #fff;
      text-decoration: none;
      transition: color 400ms;
  }
  
  a:-webkit-any-link {
      cursor: pointer;
      text-decoration: none;
  }
  
  
  .main-head:hover .head-nav li:nth-of-type(1) span {
      transition-delay: 100ms;
  }
  .main-head:hover .head-nav span {
      text-indent: 0;
  }
  .head-nav a span {
      position: relative;
      display: block;
      z-index: 0;
      text-indent: -20em;
      white-space: nowrap;
      transition: text-indent 400ms ease-in-out;
  }
  
  .main-head:hover + .wrap-all-the-things {
      transform: translateX(200px);
      max-width: 90%;
      /*opacity: 0.7;*/
  }
  
  .wrap-all-the-things {
      min-height: 100%;
      height: 100%;
      padding-left: 140px;
      margin-top: 0px;
      background-position: center center;
      transition: transform 400ms, opacity 400ms;
  }
  
  .header {
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      padding-left: 80px;
      background-color:#fff;
      z-index: 888;
      transition: .5s;
  }
  
  .header_img {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 60px;
  }
  .header_logo {
      width: 100px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
  }
  
  .header_img img {
      width: 40px;
  }
  
  .accordion label{
      display: list-item;
      align-items: center;
      column-gap: 1rem;
      padding: .5rem 0 .5rem .5rem;
      position: relative;
      transition: .3s;
      color: #fff !important;
      font-weight: 500;
     
  }
  
  .accordion p{
    color: #fff;
    font-size: 0.8em;
    line-height: 1.7em;
    visibility: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    background-color:#033A74;
    margin-top: 20px;
  }
  
  #tm:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
    
  }
  
  
  input#tm{
    display: none;
    position: relative;
    
  }
  
  #tn:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  
  input#tn{
    display: none;
    position: relative;
  }
  
  #to:checked ~ .hiddentext{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  
  input#to{
    display: none;
    position: relative;
  }
  
/*Lista de menú perfil general*/
.contenedor{
    margin-top: 90px !important;
    margin-left: auto;
    margin-right: auto;
}

.con-ul-tabs {
    float: left;
    height: 100%;
    display: block;
    position: relative;
}
.vs-tabs-left .vs-tabs--ul {
    display: block;
    width: auto;      
}
.tabs-li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 0;
}

.tabs-btn{

    display: flex;
    align-items: center;
    background: transparent !important;
    border: 0 !important;
    font-size: 1rem;
}


.tabs-btn:focus {
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    background-color: #fff !important;
    font-weight: 500;
    color: #015694;


}

.icon{
    text-transform: none;
    line-height: 1; 
    width: 14px;
}

.li-text{
    text-align: left !important;
    font-size: 14px;
    padding-left: 20px !important;
    color: #40516F;
}

/* Aquí comienza el csss de perfil-general*/
.formulario{
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}
.card__header {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: solid 2px #F1F4FF;
    color: #015694;
}

.card-body {

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    
}
.card-body2 {

    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-left: 40px;;
    padding-bottom: 30px;
    width: 80%;
}

.con-vs-avatar {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;}

.subir{
    min-width: 163px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 5px;
    border: 1px solid #26558F;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #26558f;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;}

    /*formulario*/
  

.vs-lg-3 {
    width: 30%!important;
    float: left;
}
.vs-lg-6 {
    width: 20%!important;
    float: left;
}
.vs-lg-4 {
    width: 25%!important;
    float: left;
}
.vs-lg-2 {
    width: 45%!important;
    float: left;
}
.vs-lg-8 {
    width: 80%!important;
}
.vs-lg-12 {
    width: 90%!important;
}

.vs-col {
  
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 100%;
}

.vs-input{
    color: #033A74;
    font-size: 14px;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00000033;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    margin-top: 10px;
    z-index: 100;
}


.w-full{
    width: 100%;
    padding-top: 20px;}

.span-placeholder{
    color: #868D96;
    font-size: 14px;

}   
.widget-text{
    color: #26558f;
    font-size: 14px;
    font-weight: 500;
}   

.widget{
    align-items: center;
    display: flex;}

.btn-widget{
    background: #F1F2F7 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius:0 5px 5px 0;
    padding: 5px;
    font-size: 14px;
    color: #40516F;

}

.mx-auto{
    background-color: #fff;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    width: 60%;
    margin-top: 30px;
}

.col-8{width: 75%;}
.alinear{
    align-items: center;
    display: flex;
}


.vista{
    padding-top: 80px;
    padding-right: 50px;
}

.row{margin-right: 0% !important;}


.form-check-label {
    font-size: 14px;
    color: #033A74;
    margin-top: 10px !important;
}

.custom-control {
    position: relative;
    align-items: center;
    display: flex;
    min-height: 1.5rem;
    color: #033A74;

    
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    color: #033A74;
    margin-right: 5px;

}

.custom-control-input {
    background-color: #fff;
    border: 1px solid #033A74;
    content: '';
    border-radius: 15px;
}
.custom-control-label {
    margin-bottom: 0;
    font-weight: 500 !important;
    font-size: 14px;
    color: #033A74;
}


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    box-shadow: inset 0 0 0 5px #007BFF;
    border: none;
    content: '';
    display: inline-block;}

 /* custom checkbox */
.checkbox {
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}

/* hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom checkbox */
.check {
    margin-right: 10px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color:#033A74 !important;
}   
    
    /* add background color when the checkbox is checked */
.checkbox input:checked ~ .check {
    background-color: #2489C5;
    border:none;
}

/* create the checkmark and hide when not checked */
.check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the checkmark when checked */
.checkbox input:checked ~ .check:after {
    display: block;
}


/* checkmark style */
.checkbox .check:after {
    left: 5px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .inputDataText{
        color: #033A74;
        font-size: 14px;
        position: relative;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #00000033;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
        box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        width:100%;
        margin-top: 10px;
      }
      .inputwrapper{
       position: relative;
      }
     .inputwrapper::after {
        content: attr(data-required);
        position: absolute;
        right: 8px;
        top: 60%;
        font-size: 15px;
        transform: translateY(-50%);
        color: #033A74;
        font-weight: 500;
    }

    .select {
        /* Reset Select */
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        flex: 1;
        cursor: pointer;
        padding-right: 10px;
      }
      /* Remove IE arrow */
      .select::-ms-expand {
        display: none;
      }
      /* Custom Select wrapper */
      .select {
        content: '\25BC';
        width: 100%;
        overflow: hidden;
        align-items:center;
        display:flex;
        
      }
  
      .footer{
        color: #40516F;
        font-size: 14px;
        padding: 10px;
        margin-top: 20px; }



        /*TABS

        .tabs {
            position: relative;
            margin: 0 20px 20px 0;
            
            width: 100%;
            overflow: hidden;
            padding-top: 10px;
            margin-bottom: 60px;
          }
          
          .tabs-input {
            position: absolute;
            z-index: 0;
            width: 25%;
            height: 50px;
            left: 0;
            top: 0;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            cursor: pointer;
            margin: 0;
          }
          
          .tabs input#tab-2 {
            left: 25%;
          }
          
          .tabs input#tab-3 {
            left: 50%;
          }
          
          .tabs input#tab-4 {
            left: 75%;
          }
          
          .tabs label {
            background: #F1F4FF;
            color: #40516f;
            font-size: 14px;
            line-height: 50px;
            height: 60px;
            position: relative;
            top: 0;
            padding: 0 20px;
            float: left;
            display: block;
            width: 25%;
            letter-spacing: 1px;
            text-align: center;
            box-sizing: border-box;
            -webkit-transition: all 150ms ease 0s;
            transition: all 150ms ease 0s;

          }
          
          .tabs label:hover {
            cursor: pointer;
          }
          
          .tabs label:after {
            content: '';
            background: #fefefe;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            display: block;
            color:#40516f;
          }
          
          .tabs-input:hover + label {
            background: #FFF;
            border-radius: 10px 10px 0 0;
            border-left: 1px solid #DCDADB;
            border-top: 1px solid #DCDADB;
            border-right: 1px solid #DCDADB;
            
          }
          
          .tabs label:first-of-type {
            z-index: 4;
          }
          
          .tab-label-2 {
            z-index: 4;
          }
          
          .tab-label-3 {
            z-index: 3;
          }
          
          .tab-label-4 {
            z-index: 2;
          }
          
          .tabs input:checked + label {
            background: #fefefe;
            color:#40516f;
            z-index: 0;
            font-weight: 500;
            border-radius: 10px 10px 0 0;
            border-left: 1px solid #DCDADB;
            border-top: 1px solid #DCDADB;
            border-right: 1px solid #DCDADB;
          }
          
          .content {
            height: auto;
            width: 100%;
            float: left;
            position: relative;
            z-index: 4;
            box-sizing: border-box;
            border: 1px solid #DCDADB;
            border-radius: 0 0 10px 10px;
          }
          
          .content div {
            position: relative;
            float: left;
            width: 100%;
            height: 0;
            box-sizing: border-box;
            top: 0;
            left: 0;
            z-index: 0;
            background: #fefefe;
            border-radius: 0 0 10px 10px;

          }
          .content-1{
              width: 100%;
              height: ;
          }
          
          .content div h2 {
            margin-top: 0;
          }
          
          .tabs .tab-selector-1:checked ~ .content .content-1,
          .tabs .tab-selector-2:checked ~ .content .content-2,
          .tabs .tab-selector-3:checked ~ .content .content-3,
          .tabs .tab-selector-4:checked ~ .content .content-4 {
            z-index: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
            width: 100%;
            height: auto;

            padding: 30px;
          }
          
          .content div h2 {
            color: #4477CC;
          }
          
          .content div p {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            margin: 0;
            color: #777;
          }
          .tabs input#tab1 {
            left: 25%;
            display: none;}
          .tabs input#tab-2 {
            left: 25%;
            display: none;}
          .tabs input#tab-3 {
            left: 25%;
            display: none;}
          .tabs input#tab-4 {
            left: 25%;
            display: none;}

         .col-div{
             margin: 10px;
             color: #40516F;
             font-size: 14px;
         }*/
         
   
/*notas*/
.coment-header{
    max-height: 30px;
}
.coment-body{
    color: #033A74;
    min-height: 200px;
}
.btn-icon{
    background-color:transparent;
    padding: 5px;
    border:none;
    opacity: .7;
    transition: 400ms;
}
.btn-icon:hover{
    opacity: 1;
}


/*solicitant*/

.nav ul{
    background-color: #FFF;
    padding: 40px;
}

.tab:not(:target) {
  display: none;
}

.tab:last-child {
  display: block;
}

.tab:target ~ .tab:last-child {
  display: none;
}

.tabs li{
    background: #F1F4FF;
    color: #40516f !important;
    font-size: 14px;
    line-height: 30px;
    height: 40px;
    position: relative;
    top: 0;
    margin-right: 20px;
    float: left;
    display: block;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;

}
.active{
    color: #40516f !important;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 5px;
    position: relative;
    top: 0;
    padding: 20px;
    float: left;
    display: block;
    text-align: center;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 10px 10px 0 0;
    border-left: 1px solid #DCDADB;
    border-top: 1px solid #DCDADB;
    border-right: 1px solid #DCDADB;}

.tabs {
    position: relative;
    margin: 0 20px 20px 0;
    
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 60px;
 /*   
  width: 30em;
  margin: 6.5em auto;*/
}

li a:-webkit-any-link{
    color: #033A74;
}

.back{background-color: #fff;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 30px;
padding-right: 30px;
border-radius:0 0 10px 10px;
border: 1px solid #DCDADB;}


/*acor*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");

.accordiondes{
    transform: translateZ(0);
    background: #fff;
  }
  
  .accordiondes > .accordion-toggle{
    position: absolute;
    opacity: 0;
    display: none;
  }
  .accordiondes > .accordion-toggle::after{
    position: absolute;
    opacity: 0;
    display: none;
    background-color: #E7F1FF;

  }
  
  .accordiondes > label{
    position: relative;
    display: block;
    height: auto;
    line-height: 30px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: #F7F7F7;
    cursor: pointer;
    color: #033A74;

  }
  
  .accordiondes > label:after {
    font-family: fontawesome;
    content: '';
    position: absolute;
    top: 0px;
    transform: rotate(90deg);
    transition: .3s transform;
  }
  
  .accordiondes > section{
    height: 0;
    transition: .3s all;
    overflow: hidden;
  }
  
  .accordiondes > .accordiondes-toggle:checked ~ label:after{
   transform: rotate(0deg);
  }
  
  .accordiondes > .accordiondes-toggle:checked ~ section{
    height: auto;
    padding: 15px;
  }
  
  .accordiondes > section p {
    margin: 15px 0;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  input#toggle1 {
    display: none;
}

  input#toggle2 {
    display: none;
}

  input#toggle3 {
    display: none;
}

  input#toggle4 {
    display: none;
}

  input#toggle5 {
    display: none;
}

.section-cont{
    padding-left: 20px;
    padding-right: 20px;
}

.quo-answ{
    max-width: 670px;
   
}

.quo{
    float: left;
    margin-left: 10px;
    color: #26558F;
    font-weight: 500;
    font-size: 14px;
    min-width: 374px;
    min-height: 42px;
}
.quo-check{
    float: left;
    margin-left: 10px;
    color: #26558F;
    font-weight: 500;
    font-size: 14px;
    max-width: 176px;
    min-height: 42px;
}

/*tabla*/
table {
    border-collapse: collapse;
    width: 100%;
    font-size:14px;
    margin-top: 20px;
  }
  thead {
    border: none;
    text-align: center;
    padding: 8px;
    background:#E7F1FF;
    color:#40516F;
    border-radius:5px;
    
  }
  
  th {
    border: none;
    text-align: center;
    padding: 8px;
    color:#40516F;  
  }
  td{
      color: #40516F;
    border: none;
    padding: 8px;
  }
  .td-align{
    text-align: center; 
  }
  
  tr:nth-child(even) {
    background-color: #F7F9FD;
  }
  table a{
      color: #26558F;
  }

  .star{
      fill: transparent;
      width: 32px;
      height: 32px;
      transition: 400ms;
  }
  .star:hover {
        fill: #e2b41a;
      }

  .info{
      fill: transparent;
      stroke: #66a559;
      width: 32px;
      height: 32px;
      transition: 400ms;
  }
  .info:hover {
        fill: #66a559;
        stroke: #fff;
      }

  .heart{
      fill: transparent;
      stroke: #eb1d35;
      width: 32px;
      height: 32px;
      transition: 400ms;
  }
  
  .heart:hover {
        fill: #eb1d35;
      }

  .note{
      fill: transparent;
      stroke: #26558f;
      width: 32px;
      height: 32px;
      transition: 400ms;
  }
  
  .note:hover {
        fill: #26558f;
        stroke: #26558f;
    }



    input[type="checkbox"] {
        display:none;
    }
    input[type="checkbox"]:checked ~ .modal,
    input[type="checkbox"]:checked ~ .modal-background {
        display: block;
    }

    .modal {
        position: fixed;
        top: 5% !important;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: none;	
        width: 400px !important;
        max-height: 600px !important;
        background-color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        z-index: 666;
        box-shadow: 0px 3px 6px #000029;

    }
    .modal > p {
        padding: 15px;
        margin: 0;
    }
    .modal-header {
        background-color: #E0E0E0;
        border-bottom: 1px solid #dddddd;
        box-sizing: border-box;
        height: 40px;
    }
    .modal-header h6 {
        margin: 0;
        box-sizing: border-box;
        padding-left: 15px;
        line-height: 50px;
        color: #015694;
        font-size: 14px;
        display: inline-block;
    }
    .modal-header label {
        box-sizing: border-box;
        float: right;
        line-height: 50px;
        padding: 0 15px 0 15px;
        cursor: pointer;
    }
    .modal-header label:hover {
        opacity: 0.6;
    }
    .modal-body{
        margin-top: 10px;
        padding: 30px;
    }

    .modal-body-card{
        padding-top: 20px;

    }

    .td-modal{
        font-weight: 500;
    }
 
    .close{
        width: 16px;
        height: 16px;
    }

    .pro-card{
        padding: 10px;
        margin: 20px;
        border: 1px solid #F1F4FF;
        box-shadow: 0px 3px 6px #DCDADB;
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 10px;

    }

    .trash-pro{
        height: 35px;
        cursor: pointer;

    }

    .trash{
        width: 22px;
        height: 22px;
        float: right;
    }

    .header-pro{
        padding: 10px;
        font-size: 14px;
        color: #033A74;   
    }
   
    .img-pro{
        margin-left: auto;
        margin-right: auto;
        width:150px;
        margin-bottom: 20px;
    }
    .btn-pro{
        width: 160px !important;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px !important;
        background-color: transparent;
        border: 1px solid #4BA84E;
        border-radius:5px;
        font-size: 14px;
        color:#4BA84E;
        text-align: center;
        transition:400ms;
    }

    .btn-pro:hover{
        background-color: #4BA84E;
        color: #fff;
    }
    .anexos{
        text-align: center;
        color: #033A74;
        font-size: 14px;
        padding: 10px;
    }